In [ ]:
## Author
Vincent Adultman

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools that are open-source
- Demonstrate numeric expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Julia
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Sckit-learn
3. Seaborn

| Data Science Tools |
|--|
|Jupyter Notebook|
|Jupyter Lab|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335